.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
}

.username {
  margin: 0;
  margin-right: 10px;
}

.follow-button, .big-button {
  padding: 8px 16px;
  font-size: 0.9em;
  background-color: #5bc7a0;
  color: white;
  border: none;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03em;
  position: relative;
  top: -1px;
  cursor: default;
  box-sizing: border-box;
}

.unfollow-button {
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 7px 15px;
}

.profile-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-menu-item {
  position: relative;
  margin: 0 15px;
}

.profile-menu-item:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  background-color: grey;
}

.profile-menu-item:last-child {
  margin-right: 0;
}

.profile-menu-item:last-child:after {
  content: none;
}

@media only screen and (max-width: 500px) {
  .profile-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }

  .user-info {
    flex-wrap: wrap;
  }

  .profile-menu {
    justify-content: flex-start;
  }

  .profile-menu-item {
    padding: 20px
  }

  .profile-menu-item:after {
    display: none;
  }
}
