
/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

:root {
  --header-color: #000;
  --text-color: #777;
  --light-grey: #CCC;
  --dark-grey: #444;
  --high-light-color: #5bc7a0;
  --background-color: #fcfdf8;
  --logo-font: 'Work Sans';
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

.container {
  width: 80%;
  max-width: 1500px;
  margin: auto;
}

h1{ font-size: 2em }
h2{ font-size: 1.5em }
h3{ font-size: 1.25em }

a {
  color: var(--text-color);
}

a:hover {
  background-color: #444;
  color: var(--light-grey);
}

button, .mock-button {
  padding: 5px;
  background-color: white;
  border: 1px solid var(--text-color);
  font-size: .8em;
  color: var(--text-color);
  text-decoration: none;
}

.mock-button-disabled {
  padding: 5px;
  border: 1px solid var(--light-grey);
  background-color: white;
  color: var(--light-grey);
  font-size: .8em;
  text-decoration: none;
  pointer-events: none;
}

button:hover, .mock-button:hover {
  background-color: var(--text-color);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button:disabled, button[disabled]:hover {
  border: 1px solid var(--light-grey);
  background-color: white;
  color: var(--light-grey);
}

.page-content {
  margin-top: 0;
}

.page-header {
  padding: 20px 10px 30px 10px;
  background-color: white;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.form-error {
  color: red;
  font-size: 0.8em;
}

.form-warning {
  color: yellow;
  font-size: 0.8em;
}

@media only screen and (min-width: 501px) {
  .page-description {
    height: 1em;
  }
}



@media only screen and (max-width: 500px) {
    body {
      background-color: white; 
    }

    .container {
      width: 100%;
    }

    button, .mock-button{
      font-size: 1em;
      padding: 5px;
      background-color: white;
      border: 1px solid black;
      color: var(--dark-grey);
      text-decoration: none;
    }

    .mock-button-disabled {
      font-size: 1em;
      padding: 5px;
      text-decoration: none;
    }

    .page-title, .page-description {
      padding: 0 10px;
    }

    .auth-form {
      width: 90vw;
      margin: auto;
    }
}


/* Remove hover styles on touch devices */
@media (hover: none) {
    a:hover {
      color: inherit;
      background-color: inherit;
    }

    button:hover, .mock-button:hover {
      background-color: inherit;
      color: inherit;
      text-decoration: inherit;
    }
}
